

<launch>

  <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen">
    <param name="video_device" value="/dev/video0" />
    <param name="pixel_format" value="yuyv" />
  </node>

  <node name="foo" pkg="object_classification" type="object_class_node.py" output="screen">
  </node>

  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find object_classification)/rviz_config/image_visor_cls.rviz">
  </node>

</launch>
