<launch>


  <include file="$(find realsense2_camera)/launch/rs_camera.launch" />

  <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="log">
    <param name="video_device" value="/dev/video2" />
    <param name="pixel_format" value="yuyv" />
  </node>

  <node name="rosserial" pkg="rosserial_python" type="serial_node.py" output="log">
    <param name="port" value="/dev/ttyACM0" />
  </node>

  <node name="zimmer_node" pkg="central_control" type="zimmer.py" output="log">
  </node>

  <node name="hand_track" pkg="hand_tracking" type="dtrack_node_2.py" output="log">
  </node>
  
  <node name="foo" pkg="object_classification" type="object_class_node.py" output="log">
  </node>

</launch>
